<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="{{ asset('materialize/css/materialize.min.css') }}" rel="stylesheet"/>
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="{{ asset('css/utilities.css') }}" rel="stylesheet"/>
		{% endblock %}
	</head>
	<body>
		<div class="container"> {% block body %}{% endblock %}
			</div>

			{% block javascripts %}
				<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
				<script src="{{ asset('materialize/js/materialize.min.js') }}"></script>
			{% endblock %}
		</body>

	</html>
